/* import my personal css lib */

@import url('https://tomderudder.000webhostapp.com/cdn/flatlib/css/flatlib.css');

/* @import url('http://localhost/FlatLib/lib/css/flatLib.css'); */
body {
    background-color: #ecf0f1;
}

section,
select {
    font-size: 1em;
}

input {
    font-size: 2em;
}

select {
    background-color: transparent;
    color: inherit;
    border: none;
    overflow: auto;
}

::selection {
    background: #2fbb9f2a;
}

#searchPanel {
    padding-top: 50px;
    background-color: #484755;
    background-color: #333;
    color: #fff;
}

#searchPanel .list .btn {
    cursor: pointer;
}

/* ===================== section ===================== */

section {
    padding-left: 5%;
    padding-right: 5%;
}

/* ===================== form search ===================== */

form[name="search"] {
    /* display: initial; */
}

form[name="search"] label {
    padding: 10px;
}

#serachBtn {
    position: relative;
    top: 22.5px;
    /* display: flex; */
    align-items: center;
    margin: auto;
}

#serachBtn>* {
    /* font-size: inherit; */
    padding: 7px 20px;
}

/* ===================== resultPanel ===================== */

#canvas {
    /* zoom: .7; */
}

#resultPanel .col:first-child {
    /* flex: 4; */
}

#resultPanel .col:last-child {
    /* flex: 1; */
}

#resultPanel .list {
    margin-top: 60px;
}

#resultPanel .list>.list-item {
    background-color: #fff;
    flex-direction: column;
}

#resultPanel .list>.list-item .equipement {
    margin: 0 3px;
}