/* ===================== logo ===================== */

header {
    background-color: #333;
    background-color: #484755;
    padding: 35px 0 70px;
    color: #fff;
    /* background-color: #2c3e50; */
    /* #484755; */
    /* display: flex; */
}

header>span {
    /* background-color: #fff; */
}

header>div {
    /* flex: 9; */
}

#logo {
    flex: 1;
    /* position: absolute;
    top: 0;
    padding: 15px; */
}

#logo>img {
    width: 100px;
}